.report-wrapper {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #000 !important;
  padding: 10px;

  header.report-header {
    border-bottom: 2px solid #000;
    margin-bottom: 10px;

    .report-title {
      text-align:center
    }
  }

  li {
    list-style: none;

  }

  li.report-line {
    display: flex;
    flex-flow: row nowrap;

    .report-line-detail {
      flex-grow: 1;
    }
    .report-line-column {
      flex-grow: 0
    }
  }


  .report-group {
    margin-bottom: 10px;
  }

  .report-group-footer {
    margin-top: 10px;
  }

  .report-line.group-footer.level-1 .report-line-columns {
    border-top: solid black 3px;
    border-bottom: double black 5px;
  }
  .report-line.group-footer .report-line-columns {
    border-top: 1px solid black;
  }


  .total {
    border-top: 1px solid #000
  }

}
