.report-wrapper {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding: 10px;
  width: 100%;

  .report-content {
    min-width: 100%;
    overflow: auto;
  }

  td, th {
    padding: 3px 5px;
  }
  table tr:nth-child(even) {
    background-color: #e4e2dc;
  }
}
